.resume {
  margin-top: 100px;
  width: 45%;
  float: left;
  background-color: #fff;
  padding: 20px;
  -webkit-web-sizing: border-box;
  -moz-web-sizing: border-box;
  box-sizing: border-box;
  height: 270px;
}

.resume h2 {
  text-align: center;
  color: #072146;
  height: 35px;
}

.resume img {
  margin-top: 5%;
  margin-left: 12.5%;
  width: 25%;
  height: 150px;
  display: block;
  float: left;
  border: 1px solid #000;
  -webkit-web-sizing: border-box;
  -moz-web-sizing: border-box;
  box-sizing: border-box;
}

.resume ul {
  margin-left: 12.5%;
  margin-top: 30px;
  width: 50%;
  float: left;
}

.resume ul li {
  list-style: none;
  margin: 10px 10px;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:hover {
  cursor: pointer;
}

input[type=checkbox] + label {
  position: relative;
  color: #626262;
}

input[type=checkbox]:checked + label {
  color: #1973b8 !important;
}

input[type=checkbox] + label svg path {
  transition: all 0.3s;
  transform: rotate(0deg);
}

input[type=checkbox]:checked + label svg path {
  fill: #1973b8;
  transform: rotate(360deg);
}

svg {
  border: 1px solid #072146;
  background: #f4f4f4;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  margin-bottom: -0.2em;
}

svg path {
  fill: #f4f4f4;
}